@use "../global"as *;
@use "../partials"as *;

.vlAbout {
    
        padding: size(50) size(0);
        padding-bottom: size(100);
        @include breakpoint(mobile576) {
          padding: size(70) size(0);
          padding-bottom: size(160);
        }
        .about-title {
          color: $black;
          @include font($cashDisplay500, 36, medium, normal, 52);
              leading-trim: both;
              text-edge: cap;
              letter-spacing: 0.03em;
          @include breakpoint(mobile576) {
          @include font($cashDisplay500, 42, medium, normal, 52);
              
          }
        } 
        .about-text {
          @include font($cashDisplay400, 18, normal, normal, 35);

        }
      
}