@use "../../global" as *;
@use "../../partials" as *;

html, body {
    scroll-behavior: smooth;
}

.product-card {
   
   
    overflow: hidden;
   
    padding: size(16);

    background: $white;
    @include radius(8);
    box-shadow: $box-shadow-1;
    @include flex-column;
    justify-content: space-between;
    gap: size(8);

    transition: all 0.3s ease;
     /* Add this line */

    &-top {
        @include flex-column;
        gap: size(8);
        text-align: center;
       
        
    }

    &-bottom {
        @include flex-column;
        gap: size(8);
        align-items: center;
    }

    @include hover {
        max-height: 100%;
     
        transition: all 0.3s ease;


        .product-thumb {
            img {
                @include wh100;
                transform: scale(1.1);
            }
        }
    } 

    .product-thumb {
        height: size(160);
        @include w100;
        @include radius(8);
        overflow: hidden;
      

        img {
            @include wh100;
            @include transitiontransform;
        }
    }

    .product-title {
        color: $gray-700;
        @include font($primaryFont,16,medium,normal,20);
        @include line-clamp;
    } 

    .price-from {
        color: $gray-600;
        @include font($primaryFont,14,normal,normal,20);

        .price {
            color: $gray-900;
            @include font($primaryFont,16,medium,normal,20);
        }
    }

    .description {
        color: $gray-600;
        @include font($primaryFont,14,medium,normal,18);
        @include line-clamp;
        text-align: center;
    }

    .radios {
        padding-block: size(8);
        @include flex;
        align-items: center;
        gap: size(8);
        flex-wrap: wrap;
    }
}


  /* the slides */
  .slick-slide {
    margin: 0 10px;
}




.card-category{
    @include square(113);

    background: $white;
    padding: size(12);
    @include radius(8);
    @include flex-column;
    display: flex !important;
    gap: size(8) !important;
    

    .title {
         color: $gray-700;
         @include font($primaryFont,14,medium,normal,18);
    }
    .item {
       color: $gray-900;
        @include font($primaryFont,16,medium,normal,20);

    }

    &.active {
        background: $primary;
        box-shadow: 0px 12px 16px #FAEAC9;

        svg {
            path {
                fill:$white;
            }
        }
    }
}
.selected-pizza {
    margin-top: size(8);
    @include flex-between;
    align-items: center;
    background: $white;
    @include radius(8);
    padding: size(8);
    margin-bottom: size(20);
    margin-right: size(20);

    .pizza-thumb {
        height: size(80);
        width: size(106);
        overflow: hidden;
        @include radius(4);
        img {
            @include wh100;
            object-fit: cover;
        }
    }

    .left {
        @include flex;
        gap: size(20);
        text-align: left;
    }

    .pizza-info {
        @include flex-column;
        gap: size(8);
        max-width: size(200);
        .title {
            color: $gray-700;
            @include font($primaryFont,16,medium,normal,20);
        }

        .des {
            color: $gray-600;
            @include font($primaryFont,14,normal,normal,20);
            @include line-clamp-3;
        }
    }

    .right {
        svg {
            path {
                @include transitionsall;
            }
            @include hover {
                path {
                    fill: $lightred;
                }
            }
        }
    }

}


.select-card {
    @include flex-column;
    gap: size(8);
    background: $white;
    @include radius(8);
    padding: size(16);
    text-align: center;

    .combo-thumb {
        width: 100%;
        height: size(160);
        @include radius(8);
        overflow: hidden;
        height: size(280);
        @include breakpoint(mobile576) {
            height: size(160);
        }
        @include hover {
            img {
                transform: scale(1.1)
            }
        }

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;
        }
    }

    .title {
        color: $gray-700;
        @include font($primaryFont,16,medium,normal,20);
    }
    .des {
        color: $gray-600;
        @include font($primaryFont,14,normal,normal,20);
        @include line-clamp-3;
    }

}

/*================================================
                vendor landing 
================================================= */

.card-followSocial {
    position: relative;
    overflow: hidden;
    height: size(480);

    &-img {
        @include wh100;
        img {
            @include wh100;
        }
    }
    &-content {
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        inset: 0;
        transform: scale(0);
        opacity: 0;
        visibility: hidden;
        @include transitionsall;
        @include flex-center;

        .link-heading {
            color: $white;
            text-align: center;
            @include font($cashDisplay500,36,medium,normal,52);
            a {
                color: $white;
                text-decoration: underline;
            }
        }
    }
    @include hover {
        .card-followSocial-content {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }
}

.review-card {
    @include border(solid,1,$vlHeaderbd);
    padding: size(80) size(20);
    @include flex-column;
    gap: size(20);
    @include radius(186);
    text-align: center;
    margin: 0 size(14);
    @include breakpoint(tab992) {
        padding: size(40);
    }
    @include breakpoint(desktop1200) {
        padding: size(80);
    }

    .rattings {
        @include list-horizontal;
        align-items: center;
        justify-content: center;
        gap: size(4);
    }
    .name {
        color: $black;
        letter-spacing: 0.03em;
         @include font($cashDisplay500, 18, medium, normal, 22);
    }
    .text {
        @include font($ArchivoFont, 18, medium, normal, 20);
        letter-spacing: 0.03em;
        color: #222222;
        @include line-clamp-4;
        -webkit-line-clamp:10;
    }
}