
@use "../global" as *;
@use "../partials" as *;
html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
    }

    .vlHero {
        background-image:  url("../../assets/images/vendor-landing/hero-img.png");

        background-repeat: no-repeat;
        
        position: relative;
        padding: size(50) size(0);
        background-size: cover;
        @include breakpoint(tab992) {
            padding: size(50) size(50);
        }
        
        .hero-title {
            color: $white;
            gap: size(10);
            display: flex;
            flex-direction: column;
            align-items: center;
            @include font($cashDisplay600, 40, semibold, normal, 60);
            @include breakpoint(mobile768) {
            @include font($cashDisplay600, 60, semibold, normal, 80);
                
            }
            @include breakpoint(tab992) {
                gap: size(12);
                align-items: flex-start;
               @include font($cashDisplay600, 50, semibold, normal, 80);

                
            }
            @include breakpoint(desktop1200) {
                @include font($cashDisplay600, 80, semibold, normal, 100);
            }
            span {
                
               white-space: nowrap;

            }
            .highlight-container,
            .highlight {
               position: relative;
               color: $black;
             }
             .highlight-container {
               display: inline-block;
             }
             .highlight-container:before {
               content: " ";
               display: block;
               height: 105%;
               width: 110%;
               margin-left: -3px;
               margin-right: -3px;
               position: absolute;
               background:  #FFDA00;
               transform: rotate(-2.37deg);
               top: -1px;
               left: -10px;
               // border-radius: 20% 25% 20% 24%;
               // padding: 10px 3px 3px 10px;
             }
        }
        &-left {
            @include flex-column;
            align-items: center;
            justify-content: center;
            height: 100%;
            gap: size(10);
            position: relative;
            @include breakpoint(tab992) {
                align-items: flex-start;
            }

            .rotate-shape {
                position: absolute;
                right: 0;
                bottom: size(0);
                animation: moveSlowly 20s infinite linear; 
                display: none;
                @include breakpoint(tab992) {
                    display: block;
                }
              }
              
              @keyframes moveSlowly {
                0% {
                  transform: rotate(0deg);
                }
                50% {
                  transform: rotate(30deg);
                }
                100% {
                  transform: rotate(0deg);
                }
              }
        }
        .hero-img {
            height: auto;
            max-width: 100%;
            overflow: hidden;
            padding: size(30);
            img {
                @include wh100;
                object-fit: cover;
            }
        }
    }

    .vlMarqeeText {
        padding-top: size(50);
        padding-bottom: size(30);
        @include breakpoint(mobile768) {
            padding-top: size(100);
        }
        @include breakpoint(tab992) {
            padding-top: size(140);
        }
        &-header {
            position: relative;
            padding-bottom: size(35);
            .leftICon {
                position: absolute;
                left: 0;
                @include square(200);
                top: 50%;
                transform: translateY(-50%);
                display: none;
                @include breakpoint(tab992) {
                    display: block;
                }
            }
            .vlMarwueeText-title {
                text-align: center;
                @include font($cashDisplay600, 50, semibold, normal, 60);
                @include breakpoint(mobile576) {
                    @include font($cashDisplay600, 70, semibold, normal, 84);
                    
                }
                @include breakpoint(mobile768) {
                    @include font($cashDisplay600, 120, semibold, normal, 130);
                    
                }
                @include breakpoint(tab992) {
                @include font($cashDisplay600, 140, semibold, normal, 142);
                    
                }
            }
        }
        &-content {
            @include flex-column;
            align-items: center;
            padding-top: size(50);
            .marqueeWrapper {
                width: 110%;
            }
            .marqueeLine {
                height: size(100);
                @include flex;
                // flex-wrap: nowrap;
                align-items: center;
                flex-shrink: 0;      
            white-space: nowrap; 
            gap: size(20); 
            background-color: tan;
            position: relative;
            width: 110%;
            color: $white;
            @include font($cashDisplay500, 32, medium, normal, 32);
            overflow: hidden;
            &.one {
                background-color: #FFDA00;
                color: $black;
                transform: rotate(6.12deg);
                width: 110%;
                
            }
            &.two {
                background: #FFE8D7;
                color: $black;
                transform: rotate(-16.34deg);
              
            }
            &.three {
                background: #252525;
                color: $white;
                span {
                    &::after {
                        background: $white;
                    }
                }
            }
            span {
                position: relative;
                margin-right: size(40);
                &::after {
                    position: absolute;
                    content: '';
                   @include square(14);
                    background: $black;
                    top: 50%;
                    transform: translateY(-50%);
                    @include circle;
                    right: size(-30);
                }
            }
            }
        }
    }
    .vlSocialFollow {
        &-content {
            gap: size(60);
            @include flex-column;
            @include breakpoint(tab992) {
                gap: size(100);
            }
        }
        &-title {
            text-align: center;
            color: $black;
            @include font($cashDisplay500,32,medium,normal,40);
            letter-spacing: 0.03em;
            @include breakpoint(tab992) {
            @include font($cashDisplay500,52,medium,normal,70);

            }
        }
    }
    .vlTime {
        padding: size(50) size(0);
        @include breakpoint(tab992) {
        padding: size(100) size(0);

        }
        
        .vlContent {
            @include flex-column;
            align-items: center;
            gap: size(30);
            @include radius(400);
            @include border(solid,1,$black);
            padding: size(100) size(12);

            @include breakpoint(mobile576) {
                padding: size(100) size(120);
            }

            .vengor-logo {
                width: size(200);
                height: auto;
                margin: 0 auto;
            }
        }
        .location-title {
            @include font($cashDisplay500,36,medium,normal,52);
            letter-spacing: 0.03em;
            text-align: center;
            color: $black;

            @include breakpoint(tab992) {
            @include font($cashDisplay500,42,medium,normal,52);

            }
        


        }

        .hours-title {
            color: $headingText;
            @include font($cashDisplay500,18,medium,normal,22);
            
        }
        .time-wrapper {
            h3 {
                margin-top: size(20);
                color: $black;
            }
        }

      
    } 
    .vlReviews  {
        .container {
            @include flex-column;
            gap: size(60) size(0);
            overflow: hidden;
            @include breakpoint(tab992) {
                gap: size(120) size(0);
            }
        }
    
        &-title {
            text-align: center;
            color: $black;
            @include font($cashDisplay500,32,medium,normal,40);
            letter-spacing: 0.03em;
            @include breakpoint(tab992) {
            @include font($cashDisplay500,52,medium,normal,70);

            }
        }
    } 
    .vlCallNow  {
        padding: size(50) size(50);
        @include breakpoint(tab992) {
        padding: size(100) size(100);
        padding-top: size(70);
            
        }
        &-content {
            @include flex-column;
            gap: size(30);
            align-items: center;
            text-align: center;
            .title {
                color: $black;
                text-align: center;
                leading-trim: both;
                text-edge: cap;
                letter-spacing: 0.96px;
                 @include font($cashDisplay500, 32, medium, normal, 40);

            }
            @include breakpoint(mobile576) {
                gap: size(50);
            }
        }
    }

    #marquee {
        padding: 50px 0px;
        width: 100%;
        overflow: hidden;

    }
    
    #marquee .container {
        overflow: hidden;
        width: 100%;
    }
    
    #marquee .pic-container {
        display: flex;
        animation: marquee 10s infinite linear;
        gap: size(70);
    }
    
    #marquee .pic-container .pic {
        flex-basis: 10%;
        flex-shrink: 0;
    }
    
    #marquee img {
        // width: 100%;
        object-fit: cover;
        
    }
    
    @media (max-width: 1024px) {
        #marquee .pic-container .pic {
            flex-basis: 25%;
        }
    }
    
    @media (max-width: 768px) {
        #marquee .pic-container .pic {
            flex-basis: 33.33%;
        }
    }
    
    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    
    @media (max-width: 1024px) {
        @keyframes marquee {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-125%);
            }
        }
    }
    
    @media (max-width: 768px) {
        @keyframes marquee {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-186.65%);
            }
        }
    }

    .overlaySlider {
        padding-bottom: size(70);
        @include breakpoint(tab992) {
            padding-bottom: size(130) 
        }
        &-content {
            @include flex-column;
            gap: size(40);
            margin-top: size(60);
            align-items: center;
            padding: size(0) size(50);
            text-align: center;
            @include breakpoint(mobile576) {
                padding: size(0) size(70);
            }
            @include breakpoint(tab992) {
                padding: size(0) size(200);
            }

            .text {
                @include font($ArchivoFont, 18, normal, normal, 24);
                color: #222222;
            }

        }
    }
    
    .vlSelseCount {
        padding: size(50) size(0);
        @include flex-column;
        gap: size(40);
        @include breakpoint(mobile576) {
            padding: size(100) size(0);
            gap: size(100);
        }
        &-content {
            @include flex-column;
            gap: size(60);
        }
        &-title {
            @include font($cashDisplay600, 30, semibold, normal, 50);
            letter-spacing: 0.03em;
            color: $black;
            @include breakpoint(mobile576) {
            @include font($cashDisplay600, 40, semibold, normal, 60);
            }
            @include breakpoint(tab992) {
            @include font($cashDisplay600, 60, semibold, normal, 76);
                
            }
            text-align: center;
            .highlight-container,
             .highlight {
                position: relative;
              }
              .highlight-container {
                display: inline-block;
              }
              .highlight-container:before {
                content: " ";
                display: block;
                height: 90%;
                width: 100%;
                margin-left: -3px;
                margin-right: -3px;
                position: absolute;
                background:  #FFDA00;
                transform: rotate(-4.37deg);
                top: -1px;
                left: -1px;
                // border-radius: 20% 25% 20% 24%;
                // padding: 10px 3px 3px 10px;
              }

        }
        .count-content {
            @include flex-column;
            gap: size(60);
            align-items: center;
            @include breakpoint(mobile576) {
                gap:size(80);
            }
            @include breakpoint(tab992) {
                align-items: flex-start;
            }


        }

        .count-wrapper {
            @include flex-column;
            gap: size(80);

            .count-box {
                @include flex-column;
                gap: size(20);
                align-items: center;
                @include breakpoint(tab992) {
                    align-items: flex-start;
                }
                .count {
                    @include font($cashDisplay600, 30, semibold, normal, 50);
                    letter-spacing: 0.03em;
                    color: $black;
                    @include breakpoint(mobile576) {
                    @include font($cashDisplay600, 40, semibold, normal, 60);
                    }
                    @include breakpoint(tab992) {
                    @include font($cashDisplay600, 60, semibold, normal, 76);
                        
                    }
                }
                .title {
                    color: #222222;
                    @include font($ArchivoFont, 18, normal, normal, 20);
                    letter-spacing: 0.03em;
                }
            }
        }
        .middleImage {
            @include flex-center;
        }
    } 

    .vlProductTab {
        padding-top: size(24);
        &-content {
            @include flex-column;
            gap: size(80);
            @include breakpoint(mobile576) {
                gap:size(100);
            }
        }
        &-header {
            @include flex-center;
            flex-direction: column;
            text-align: center;
            gap: size(40);
            @include breakpoint(mobile576) {
                gap: size(80);
            }
        }
    }

    .highlight-container,
    .highlight {
       position: relative;
     }
     .highlight-container {
       display: inline-block;
     }
     .highlight-container:before {
       content: " ";
       display: block;
       height: 90%;
       width: 100%;
       margin-left: -3px;
       margin-right: -3px;
       position: absolute;
       background:  #FFDA00;
       transform: rotate(-4.37deg);
       top: -1px;
       left: -1px;
       // border-radius: 20% 25% 20% 24%;
       // padding: 10px 3px 3px 10px;
     }
     .swiper-button-next svg, .swiper-button-prev svg {
        width: auto !important;
     }
     