@use "../../global"as *;
@use "../../partials"as *;

.single-slide {
    position: relative;
    overflow: hidden;
    height: 80vh;
    @include breakpoint(mobile576) {
        height: 60vh;
    }
    @include breakpoint(tab992) {
        height: 70vh;
        max-height: size(800)
    }

    img {
        @include radius(500);
        @include w100;
        height: 100%;
        display: block;
        object-fit: cover;
        filter: blur(8px);
        -webkit-filter: blur(2px);

    }

    .slider-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;

        h3 {
            color: $white;
            padding: size(0) size(50);
            @include font($cashDisplay500, 30, medium, normal, 40);

            @include breakpoint(mobile576) {
                padding: size(0) size(60);
                @include font($cashDisplay500, 30, medium, normal, 50);
            }

            @include breakpoint(tab992) {
                padding: size(0) size(300);
            }
        }
    }
}

    .swiper-button-next,
    .swiper-button-prev {
        width: auto;
        display: none;

        @include breakpoint(tab992) {
            display: block;
        }

    }

    .swiper-button-prev {
        left: size(80);
    }

    .swiper-button-next {
        right: size(80);
    }
    .swiper-slide {
        overflow: hidden;
    }